@{
    Layout = "default";
    Title = "Archive";
    Date = "2300-12-31T00:00:00";
    Tags = "meta";
    Description = "";
}

<!--more-->

<header class="main-header post-head no-cover">
    <nav class="main-nav clearfix">
        <a class="nav-item" href="@Model.Root">Home</a>
        <a class="nav-item" href="@Model.Root/blog/">Blog</a>
        @*<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>*@
    </nav>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
  <article class="post">
      <header class="post-header">
          <h1 class="post-title">Archive</h1>
      </header>
      <section class="post-content">
        <p>
          @{ var first = true; }
          @foreach (var item in Model.MonthlyPosts) {
            @(first?"":", ")
            <a href="@(Model.Root + "/blog/archive/" + item.Item2.ToLower() + "-" + item.Item1 + "/")">@item.Item1 @item.Item2</a>@String.Format("&nbsp;({0})", Enumerable.Count(item.Item3))
            { first = false; }
          }
        </p>
      </section>
  </article>
</main>


