@{
    Layout = "default";
}

<header class="main-header post-head no-cover">
    <nav class="main-nav clearfix">
        <a class="nav-item" href="@Model.Root">Home</a>
        <a class="nav-item" href="@Model.Root/blog/">Blog</a>
        @*<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>*@
    </nav>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
  @if (Model.IsPostCategoryPage)
  {
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">@Model.Category.Name</h1>
        </header>
    </article>
  }
  @if (!Model.IsPostCategoryPage)
  {
    <article class="post">
      <section class="post-content">
        <p>
          <a href="@Model.Root/blog/tag">Tags</a> &nbsp; <a href="@Model.Root/blog/archive">Archive</a>
        </p>
      </section>
    </article>
  }
  @foreach (var post in Model.IsPostCategoryPage ? Model.Posts : Model.Posts.Where(post => !post.Tags.Contains("meta")))
  {
    <article class="post">

        <header class="post-header">
            <h1 class="post-title"><a href="@Model.Root/blog/@post.Url/index.html">@post.Title</a></h1>
        </header>
        <section class="post-excerpt">
            <p>@post.Abstract <a class="read-more" href="@Model.Root/blog/@post.Url/index.html">&raquo;</a></p>
        </section>
        <footer class="post-meta">
            on @String.Join(",", post.Tags)
            <time class="post-date" datetime="@post.Date.ToString("yyyy-MM-dd")">@post.Date.ToString("dd MMMM yyyy")</time>
        </footer>
      </article>
  }
</main>

