@{
    Layout = "default";
    ViewBag.BodyClass = "post-template";
}

<header class="main-header post-head no-cover">
    <nav class="main-nav clearfix">
        <a class="nav-item" href="@Model.Root">Home</a>
        <a class="nav-item" href="@Model.Root/blog/">Blog</a>
        @*<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>*@
    </nav>
</header>
@using System.Linq
<main class="content" role="main">
    <article class="post">

        <header class="post-header">
            <h1 class="post-title">@Title</h1>
            <section class="post-meta">
                @{ var date = DateTime.ParseExact(Date, "yyyy-MM-ddThh:mm:ss", null); }
                @{ var datejp = date.ToString(new System.Globalization.CultureInfo("ja-JP")); }
                @{ var dateUrl = date.ToString("MMMM-yyyy", new System.Globalization.CultureInfo("en-US")).ToLowerInvariant(); }
                <time class="post-date" datetime="@Date">
                  <a href="@Model.Root/blog/archive/@dateUrl">@datejp</a>
                </time>
                <span class="tags"><strong>Tags: </strong>
                    @if(!String.IsNullOrEmpty(Tags)){
                      @foreach(var tag in Tags.Split(',').Select(x => x.Trim())){
                        @{ var tagUrl = tag.ToLowerInvariant().Replace("#","sharp").Replace(" ","-").Replace(".","dot"); }
                        <a href="@Model.Root/blog/tag/@tagUrl">@tag</a>
                      }
                    }
                </span>
            </section>
        </header>

        <section class="post-content">
          @RenderBody()
        </section>

        <footer class="post-footer">

            @*{{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}*@

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/intent/tweet?text=@Title -"
                    onclick="window.open(this.href+' '+window.location.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
            </section>

        </footer>

    </article>
</main>

@*<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>*@
